
.custom-spinner .p-progress-spinner{
    align-items: 'center';
    display: 'flex';
    justify-content: 'center';
    height: "90vh";
}

    @keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #0057e7;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #0057e7;
    }
    80%,
    90% {
        stroke: #0057e7;
    }
}

.dot-flashing {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(132, 134, 134);
    color: rgb(132, 134, 134);
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
    border:1px solid white;
  }
  
  .dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-flashing::before {
    left: -70px;
    width: 40px;
    height: 40px;
    border-radius:40px;
    background-color: rgb(132, 134, 134);
    color: rgb(132, 134, 134);
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
    border:1px solid white;
  }
  
  .dot-flashing::after {
    left: 70px;
    width:40px;
    height: 40px;
    border-radius:40px;
    background-color:rgb(132, 134, 134);
    color:rgb(132, 134, 134);
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
    border:1px solid white;
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: rgb(132, 134, 134);
    }
    50%,
    100% {
      background-color: rgb(204, 204, 204);
    }
  }
